.login-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* background-image: url("../components/images/clinicMain.jpg"); */
  /* TODO: add opacity to the background image */
}

.login-body img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.login-container {
  width: 35rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4) !important;
}

.card-subtitle {
  font-size: 2rem !important;
  padding-top: 1rem;
  color: #00ccff !important;
  font-weight: lighter !important;
}

.login-title-hr {
  width: 30%;
  border-color: #00ccff !important;
  padding-bottom: 1rem;
}

.login-label {
  color: #00ccff !important;
}

.login-control {
  font-size: 1.2rem !important;
  width: 100% !important;
  height: 4rem !important;
  border-color: #00ccff !important;
  color: #00ccff !important;
}

.login-control::placeholder {
  color: #00ccff !important;
}

.login-button {
  width: 100%;
  height: 4rem;
  background-color: #33cccc !important;
  border-color: #33cccc !important;
}

.login-button-link {
  font-size: 1.2rem !important;
  color: #ffffff;
  text-decoration: none;
}

.login-button-link :hover {
  color: #ffffff !important;
  text-decoration: none !important;
}

.login-button-link-2 {
  font-size: 1.2rem !important;
  color: #00ccff;
  text-decoration: none;
}

.login-button-link-2 :hover {
  font-size: 1.2rem !important;
  color: #00ccff;
  text-decoration: none;
}
